<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> <font color="#91EB0A">Santiago Benjamin Arias</font> </p>
        <p><font color="#B4F84F">Full Stack Developer Jr</font></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="titulo1"><font color="#DC493A">Acerca de mi</font></h1>
            <p> <font color="#FFFFF">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem laudantium eum nulla corporis at, illo excepturi iusto libero, ipsa repudiandae maiores enim, sapiente consequatur iure a. Exercitationem consequuntur consectetur quisquam!</font>
            </p>
        </span>
    </div>
    

</div>