<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11" id="contenido">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Deserunt, quod! Impedit, porro dolores labore facilis harum 
                quod voluptatibus expedita officia. Consequatur aspernatur eligendi eveniet ex,
                impedit illum aliquid voluptatem. Sint.
            </p>
        </ul>             
    </div>
</div>