img{
    width: 100%;
    height: 800px;
}

#banner{
    position: relative;    
}

#contenido{
    position: absolute;
    top: 400px;
    left: 200px;
}

h1{
    font-family: 'Syne', sans-serif;
    color: #FFFFFF;
}
