*{
    padding:0;
    margin: 0;
}


app-redes{
    float: right;
    margin-top: 20px;
}
.menu{
    list-style: none;
    padding: 0;
    background-color: #010001ff;
    width: 90%;
    max-width: 1000px;
    margin:auto;
}

#aplogo{
    width: 150px;
    padding-left: 0;
}

#menu{
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color:#DC493A;

}